:root{
    --bgOrange:#e84949;
}
.pre{
  background: rgb(73,39,63);
  background: linear-gradient(129deg, rgba(73,39,63,1) 0%, rgba(51,52,95,1) 36%, rgba(18,18,18,1) 97%);
}
.over{
  overflow-x: hidden;
}

.scrolled{
  background-color: rgba(10, 9, 9, 0.377);
  backdrop-filter: blur(40px) saturate(156%);
  -webkit-backdrop-filter: blur(21px) saturate(156%);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 20;
  transition: all ease-out;
  transition-duration: 300ms;
  justify-content: center;
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
}
.nav{
  padding-left: 5px;
  padding-right: 5px;
  transition: all ease-out;
  transition-duration: 300ms;
  width: 100%;
  position: relative;
  position: fixed;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-container{
  background-image: url('../src/assets/banner-bg.png');
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  }
  .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}
.logo-container{
    display: flex;
    justify-content: baseline;
    align-items: center;
}
.logo-text{
    margin-left: -0.5rem;
    font-weight:500;
    color: #e2ddd6;
}
.nav-items{
    display: flex;
    gap: 2rem;
    color: #e2ddd6;
  }
  .nav-items div{
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    color: #e2ddd6;
}
.nav-items div:hover{
    transition:  ease 400ms;
}
.hero-section{
  position: relative;
  background-size: cover;
  width: 1200px;
  margin: 0 auto;
  gap: 5rem;
  margin-top: 9rem ;
  padding: 0 1rem;
  padding-bottom: 4rem;
}
.hero-section-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-section-heading{
  font-size: 35px;
  color: white;
  font-weight: 500;
}
.role{
  color: #4e45d5;
  font-weight: 800;
}

.hero-section-desc{
  margin-top: 1rem;
  font-weight: 500;
  color: #ffffffd8;
} 
.hero-section-right{
  position: relative;
}
.absolute{
  position: absolute;
}
.project-container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  gap: 120px;
  border-radius: 25px;
}
.skill-container-left{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.skill-container-right{
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.skill-heading{
  font-style: bold;
  color: var(--bgOrange);
  line-height: 50px; 
}
.caps{
  font-size: 90px;
}
.skill-subHeading{
  margin-top: 1rem;
  text-align: justify;
  color: #201f1fba;
}
.skill-subHeading p{
  margin: 15px 0;
}
.contactus-heading{
  font-size: 5em;
  padding-top: 2rem;
  color: white;
  text-align: center;
  text-transform:capitalize;
}
.contactus-subHeading{
  font-size: 3em;
  color: white;
  text-align: center;
  text-transform:capitalize;
}
.contactus-form-container{
  padding: 40px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;  
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%)
}
.form{
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.send-btn{
  margin-top: 30px;
}
.formfield-container{
  display: flex;
  justify-content:space-between;
}

.formfield-container img{
  width: 77%;
}
.input{
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.text-area{
  display: flex;
}
.formfield{
  text-overflow: ellipsis;
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  font-size:18px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.formfield:focus {
  outline: 2px solid #4A90E2; 
  caret-color: #107af3;}
.form-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contactus-form-container form input:focus, .contactus-form-container form textarea:focus {
  background: rgba(235, 230, 230, 0.945);
  color: #121212;
}
.contactus-form-container form input::placeholder, .contactus-form-container form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  text-overflow: ellipsis;
  color: #fff;
}
.contactus-form-container form input:focus::placeholder, .contactus-form-container form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.formfield-textarea{
  height: auto;
  padding-top: 1rem;
}
.footer-wrapper{
  display: flex;
  gap: 1rem;
  padding: 1.2rem;
  justify-content: space-between;
  align-items: center;
}
/* Button css */
.Documents-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: 45px;
  border: none;
  padding: 0px 15px;
  border-radius: 5px;
  background-color: rgb(49, 49, 83);
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s;
}
.folderContainer {
  width: 40px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
.fileBack {
  z-index: 1;
  width: 80%;
  height: auto;
}
.filePage {
  width: 50%;
  height: auto;
  position: absolute;
  z-index: 2;
  transition: all 0.3s ease-out;
}
.fileFront {
  width: 85%;
  height: auto;
  position: absolute;
  z-index: 3;
  opacity: 0.95;
  transform-origin: bottom;
  transition: all 0.3s ease-out;
}
.text {
  color: white;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.Documents-btn:hover .filePage {
  transform: translateY(-5px);
}
.Documents-btn:hover {
  background-color: rgb(58, 58, 94);
}
.Documents-btn:active {
  transform: scale(0.95);
}
.Documents-btn:hover .fileFront {
  transform: rotateX(30deg);
}

